/*elementi esterni*/
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:wght@100&display=swap");


/*formattazione base della pagina*/
body; html{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size:16px;
  text-decoration:none;
}

/*stili di testo*/
h1, .text-1{
  font-size:3rem;
    margin-bottom:0.5rem;
  font-weight: bold;
  font-family: "Concert One", cursive;
}
h2 .text-2{
  font-size:2.4rem;
    margin-bottom:1rem;
}
h3.text-3{
  font-size:1.8rem;
    margin-bottom:1rem;
}
h4, p, .text-4{
  font-size:1rem;
  margin-bottom:1rem;
  line-height:1.5;
}

a{
  color:coral;
}
/*spacer*/
.spacer{
  height:30px;
}
/*stile menu*/
:root {
  --menu-bg: #333237;
  --menu-color: white;
  --red-color:#952B39;
  
}

.header {
  background-color: var(--menu-bg);
position:fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding: 10px 15px;
 
}
.header-content{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/*lente ricerca*/


/*logo*/
.header-logo,
.header-quick {
  display: flex;
  align-items: center;
  color: var(--menu-color);
  text-decoration:none;
  padding: 3px 10px;
}

.logo-container {
  float: left;
}
.header-logo img {
  width: 100%;
  min-width: 4px;
  height: auto;
}
.nav-menu {
  padding: 10px;
  margin: 0;
}
.nav-menu a:hover {
  color:black;
}
.nav-menu li {
  display: inline-block;
}
.nav-menu li a{
  color: var(--menu-color);
  opacity: 0.8;
  display: block;
  padding: 16px;
  font-size: 16px;
  text-decoration:none;
}
/*media query hamburger menu*/
@media (max-width:1000px) {
  
  .nav-menu {
    z-index:999;
    position: absolute;
    top: 72px;
    left: 0;
    background-color:var(--menu-bg);
    width: 100%;
    height: 100vh;
    height: 0vh;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.215, 0.61, 0.335, 1);
   
  }
  .nav-menu li {
    widht: 100%;
    border-bottom: 1px solid black;
    margin-top:1rem;
    padding-top:1rem;
    display:block;
    padding:0.5rem 0;
  }
  
  .menu-open .nav-menu {
    height:80vh;
  }
  .icon-hamburger {
    height: 50px;
    width: 40px;
    margin-left: 20px;
    padding-top: 5px;
    
  }
  .icon-hamburger span {
    height: 2px;
    width: 30px;
    background: var(--menu-color);
    position: relative;
    display: block;
    margin-top: 11px;
    transition: all 1s;
  }
  .menu-open .icon-hamburger span:nth-child(1) {
    transform: rotate(45deg) translateY(9px);
  }
  .menu-open .icon-hamburger span:nth-child(2) {
    transform: rotate(-45deg) translateY(-9px);
  }
  .header-quick {
    display: flex;
    justify-content: flex-end;
    width: 30%;
   
  }
}

/*bottoni*/
.button{
  font-size: 1rem;
  text-transformation: uppercase;
  background: #952B39;
  color:white;
  border-radius: 4px;
  font-weight:600;
  text-decoration:none;
  padding:0.5rem 0.5rem;
  
}

.button:hover{
  color:grey;
  
}
.button-hover{
  background:red;
  text-decoration:none;
  padding:0.5rem 0.5rem;
  
}
/*slider*/

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  
}
.carousel-caption{
 position: absolute;
 top:50%;
 justify-content: center;
}

.carousel-caption h5{
  color:white;


}



/*prodotti*/

.prodotti {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  
}
.product-box{
   border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  height: 100%;   
}
.product-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.title-container{
  
  color:var(--menu-color);
  align-items:center;
  text-align: center;
  background-color:var(--red-color);
  width:100%;
  border:5px var(--menu-bg);
  padding:10px;

  
 
  
}
.prodotti-immagine{
  width:20%;
  }
/*gallery*/
#galleria {
  background-color: #f8f8f8;
  padding: 50px 0;
}

#galleria .container {
  max-width: 1200px;
  margin: 0 auto;
}

#galleria h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

#galleria .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.gallery-item .overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.gallery-item .overlay-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.gallery-item .overlay-content p {
  font-size: 16px;
  margin-bottom: 0;
}
/*torna a inizio pagina*/
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color:#952B39;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 14px;
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.back-to-top:hover{
 color:#5c0619;
}
.back-to-top.show {
  opacity: 1;
  visibility: visible;
}

/*contatti*/
.contact-section {
  background-color: var(--red-color);
  padding: 60px 0;
  text-align: center;
  color:var(--menu-color);
  display:flex;
  
  
}

.section-heading {
  margin-bottom: 40px;
  font-family: "Concert One", cursive;
}

.contact-info {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
}

.contact-item {
  margin-right: 40px;
}

.contact-item i {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-form {
  max-width: 400px;
  margin: 0 auto;
}

/*form*/
.form-container {
  margin: 30px 0;
  padding: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color:#952B39 ;
}


/*footer*/
footer {
  font-family: "Concert One", cursive;
  background-color: #dddddd;
  text-align: center;
  display:flex;
  width:100%;
  height:100px;
  padding: 0;
  color:var(--menu-bg);
  justify-content:center;
  flex-content:center;
margin-bottom:0;
}
footer-items-container{
justify-content:center;

}
footer a {
  color: var(--menu-bg);

}
footer a:hover {
  color: #952B39; 
}
footer .copyright {
  margin-top:10px;

  font-size: 12px;
  color: #999;

}

/*mediaquery*/
/*media-form*/
@media screen and (max-width: 768px) {
  .contact-form {
    width: 100%;
  }
  
  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .form-group label {
    margin-bottom: 10px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
  }
  
  .form-group textarea {
    height: 100px;
  }
  
  .form-group button {
    margin-top: 10px;
  }
}


}
/*chi-siamo*/
#chi-siamo{
  padding-top:40px;
}
  

/*prodotti*/

/*card*/
.card{
  width:100%;
  height:100%;  
}

.card-inner{
position:relative;
  height:100%;
  transform-style: preserve-3d;
  transition:transform 0.5s;
}

.card:hover .card-inner{
transform:rotateY(180deg);
}

.card-body{
position:absolute;
  inset:0;
  display:grid;
  place-items:center;
  backface-visibility: hidden;
  justify-content: center;
  text-align:center;
  width:100%;
  margin-right:3px;
  margin-left:3px;

}

.card-body--front{
background-color:white;
   backface-visibility: hidden;
}

.card-body--back{
  background-color:white;
transform:rotateY(180deg);
  
}
/*fine card*/


.prodotti-container{
   background-image: url(images/468197.jpg);;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
  
  
}
.prodotti {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding-top:70px;
  
}
.prodotti .col-md-6{
  margin-bottom:30px;
  }
.product-box{
   border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  height: 50rem;
  background-color:white;
  display:flex;
  align-items:center;
 
}


.title-container{
  
  color:var(--menu-bg);
  align-items:center;
  text-align: center;
  background-color:var(--red-color);
  width:100%;
  border:5px var(--menu-bg);
  padding:30px;

  
 
  
}
.prodotti-immagine{
  width:80%;
  }

/*servizi*/

#servizi {
  
  background-color:var(--menu-bg);
  padding: 10px 0;
}

.container {
  padding-top:30px;
  max-width: 960px;
  margin: 0 auto;
}

.section-title {
  text-align: center;

  margin-bottom: 30px;
}

.servizi-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.servizio {
  flex-basis: 30%;
  margin-bottom: 30px;
  text-align: center;
  
}

.servizio-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;

}

.servizio-icon i{
 
  font-size:3rem;
  object-fit: cover;
}

.servizio-title {
  
  margin-bottom: 10px;
}
/* Stili per schermi fino a 768px */
@media (max-width: 768px) {
  .servizi-container {
    flex-direction: column;
  }

  .servizio {
    flex-basis: 100%;
  }
}

/* Stili per schermi da 768px a 992px */
@media (min-width: 768px) and (max-width: 992px) {
  .servizi-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .servizio {
    flex-basis: 50%;
  }
}

/* Stili per schermi superiori a 992px */
@media (min-width: 992px) {
  .servizio {
    flex-basis: 30%;
  }
}


/*fine servizi*/
